<div class="row">
        <div class="small-12 columns">
                <h2 class="page-header">Abilities</h2>
		
		<button onClick="statRoll()" class="button">Roll for Abilities</button>
		<br>
		<input id="Str" type="textbox">
		<button onClick="StrIncrease()"> +</button>
		<button onClick="StrDecrease()"> -</button>
		<br>

		<input id="Dex" type="textbox"> 
		<button onClick="DexIncrease()"> +</button>
                <button onClick="DexDecrease()"> -</button>
                <br>

		<input id="Con" type="textbox"> 
		<button onClick="ConIncrease()"> +</button>
                <button onClick="ConDecrease()"> -</button>
                <br>

		<input id="Int" type="textbox"> 
		<button onClick="IntIncrease()"> +</button>
                <button onClick="IntDecrease()"> -</button>
                <br>

		<input id="Wis" type="textbox"> 
		<button onClick="WisIncrease()"> +</button>
                <button onClick="WisDecrease()"> -</button>
                <br>

		<input id="Cha" type="textbox"> 
		<button onClick="ChaIncrease()"> +</button>
                <button onClick="ChaDecrease()"> -</button>
                <br>

                
        </div>
</div>


