<div class="row">
	<div class="small-12 columns">
		<h2 class="page-header">Abilities</h2>

		<button ng-click="randomizeStats()" class="button">Roll for Abilities</button>
		<div ng-repeat="ability in abilities">
			<h3>{{ability.name}}</h3>
      <form>
				<input ng-model="ability.val">
			</form>
			<button ng-click="incrementStat(ability.name, 1)"> +</button>
			<button ng-click="incrementStat(ability.name, -1)"> -</button>
		</div>
		<a href="#/dashboard/{{userName}}/class" class="button">Prev</a>
		<a href="#/dashboard/{{userName}}/feats" class="button">Next</a>
	</div>
</div>


