  <div data-sticky-container>
    <nav class="top-bar larger" data-sticky style="width:100%">
      <div class="top-bar-left">
        <ul class="dropdown menu" >
          <li><a href="#/dashboard/{{userName}}">{{userName}}</a></li>
          <li ><a href="#/dashboard/{{userName}}/race">Create Character</a></li>
        </ul>
      </div>

      <div class="top-bar-right">        
      <ul class="vertical medium-horizontal menu clear">
          <li ><a href="#/login">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>

    <div class="row">
          <div class="small-8 small-centered text_center columns">
            <img src="{{character.pictureURL}}">
          </div>
      </div>

	  <div class="row">
          <div class="small-8 small-centered columns gray">
           	<p><b>Name:</b> {{character.name}} <a class="button tiny float_right" href="#/dashboard/{{userName}}/final">Edit</a></p>
           	<p><b>Race:</b> {{character.race.name}}<a class="button tiny float_right" href="#/dashboard/{{userName}}/race">Edit</a></p>
           	<p><b>Class:</b> {{character.class.name}}<a class="button tiny float_right" href="#/dashboard/{{userName}}/class">Edit</a></p>
           	<p><b>Level:</b> {{character.level}}</p>
           	<div>
           		<b>Feats:</b> 
              <a class="button tiny float_right" href="#/dashboard/{{userName}}/feats">Edit</a>
	           	<div ng-repeat="feat in character.feats">
              <hr>
	           	<p><i>Name:</i> {{feat.name}}</p>
	           	<p><i>Description:</i> {{feat.description}} </p>
	           	<p><i>Benefit:</i> {{feat.benefit}} </p>

	           	</div>
           	</div>
           	<div>

              <hr>
           		<b>Abilities:</b> 
              <a class="button tiny float_right" href="#/dashboard/{{userName}}/abilities">Edit</a>
	           	<p>Strength: {{character.abilities.str}}</p>
	           	<p>Dexterity: {{character.abilities.dex}}</p>
	           	<p>Intelligence: {{character.abilities.int}}</p>
	           	<p>Wisdom: {{character.abilities.wis}}</p>
	           	<p>Constitution: {{character.abilities.con}}</p>
	           	<p>Charisma: {{character.abilities.cha}}</p>

	           	</div>
              <div>
                <a class="button tiny float_right">Edit</a>
                <p><b>Inventory:</b> <span ng-repeat="item in characters.inventory">{{item}}, </span></p> 
              </div>
           	</div>
          </div>
      </div>