  <div data-sticky-container>
    <nav class="top-bar larger" data-sticky style="width:100%">
      <div class="top-bar-left">
        <ul class="dropdown menu" >
          <li><a>{{userName}}</a></li>
          <li ><a href="#/dashboard/{{userName}}/race">Create Character</a></li>
        </ul>
      </div>

      <div class="top-bar-right">        
      <ul class="vertical medium-horizontal menu clear">
          <li>
          	<form method="get" action="http://localhost:8080/api/logout">
      			  <button type="submit" class="button">Logout</button>
      		</form>
          </li>
        </ul>
      </div>
    </nav>
  </div>


	  <div class="row">
          <div class="small-12 columns">
          Your Characters:
          <button ng-repeat="(i,character) in characters" class="button small" ng-click="selectCharacter(i)">{{character.name}}</button>
          </div>
      </div>

	  <div class="row">
          <div class="small-12 columns">
            <p> Your Character!</p>

            <img src="{{characters[idx].pictureURL}}">
           	<p>Name: {{characters[idx].name}}</p>
           	<p>Race: {{characters[idx].race.name}}</p>
           	<p>Class: {{characters[idx].class.name}}</p>
           	<p>Level: {{characters[idx].level}}</p>
           	<a href="#/dashboard/{{userName}}/{{characters[idx]._id}}" class="button">Edit</a>
      </div>

