<div class="row">
    <div class="small-12 columns">
    <h1>Feats</h1>
    <img src="{{races[idx].image}}">
    <h1>{{feats[idx].name}}</h1>
    <p>Description: {{feats[idx].description}}</p>
    <p>Benefit: {{feats[idx].benefit}}</p>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
      <button ng-repeat="(i,feat) in feats" class="button small" ng-click="selectFeat(i)">{{feat.name}}</button>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
      <a href="#/dashboard/{{userName}}/class" class="button">Prev</a>
      <a href="" class="button">Next</a>
    </div>
</div>